h2 {
  font-weight: 500;
}

form {
  display: inline-block;
  background: #f3f3f3;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2rem;
  margin: 2rem 0 1rem 0;
}

form label {
  float: left;
  font-size: 0.9rem;
  margin: 0;
  padding: 0;
}

.right-label {
  float: right;
  cursor: pointer;
}

input {
  width: 15rem;
  padding: 0.3rem;
  border-radius: 5px;
  outline: none;
  border: none;
}

#sub_btn {
  display: block;
  width: 100%;
  padding: 0.3rem;
  border: none;
  background: #222;
  color: #fff;
  border-radius: 3px;
}

#sub_btn:hover {
  background: #333;
  transition: all 0.5s;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}
.text-center {
  background-color: rgba(0, 0, 0, 0.09);
  text-align: center;
  backdrop-filter: blur(5px);
  width: 25%;
  border-radius: 30px;
  margin: 150px auto;
  padding: 5px;
}

body {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(222, 184, 135, 1) 0%,
    rgba(128, 97, 39, 0.25262605042016806) 86%
      /* rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100% */
  );
  /* backdrop-filter: blur(100%); */
}
